body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ARIAL;
}

.container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.title{
    font-size: 15px;
    text-align: center;
    padding: 25px;
}

.room-card{
    border: 1px solid orange;
    padding: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.unavailable{
    color: red;
    font-weight: bold;
}

.available{
    color: green;
    font-weight: bold;
}   

.searchRoom{
    text-align: center;
    
}

.view{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-end;
    padding: 15px;
}

.viewBTN{
    
}

@media screen and (max-width: 600px){
    .view{
        justify-content: center;
    }
    .door{
        height: 85px;
    }
}